body {
  font-family: poppins, sans-serif;
  color: white;
  text-align: center;
  background-image: url("/images/yellowbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }
  body h1 {
    text-shadow: 2px 2px 6px #000000; }
  body h2 {
    text-shadow: 2px 2px 6px #000000; }
  body h3 {
    text-shadow: 2px 2px 6px #000000; }

header {
  padding: 30px; }

iframe {
  border-style: solid;
  border-radius: 5px;
  border-width: 4px; }

article {
  padding: 30px; }
  article img {
    border-style: solid;
    border-radius: 5px;
    border-width: 4px; }

ol {
  list-style: none; }

footer a:link {
  color: pink;
  text-decoration: none; }
